---
import TextIntro from "@/components/styles/TextIntro.astro";
import Title from "@/components/styles/Title.astro";
import { Icon } from "astro-icon/components";
---

<section
  id="particula-は"
  class="mt-10 max-w-[700px] w-full scroll-mt-[130px] md:scroll-mt-23"
>
  <Title>Particula は y です</Title>
  <TextIntro>
    La partícula は (pronunciada como "wa") es una de las partículas más
    importantes en el idioma japonés. Se utiliza para marcar el tema de la
    oración, es decir, lo que se está hablando o discutiendo. Aunque se escribe
    como "は", se pronuncia como "wa" cuando se usa como partícula.
    <span class="block mt-5">
      En la oración, la partícula は se coloca después del sustantivo o
      pronombre que se quiere destacar.
    </span>
  </TextIntro>
  <TextIntro>
    La partícula auxiliar です (desu) similar a "ser/estar" en español . Se utiliza
    para afirmar o negar algo y se coloca al final de la oración. Aunque no
    tiene un significado directo, su función es dar formalidad y cortesía a la
    oración. En rojo su pronunciación, ejemplo:
  </TextIntro>
<ul class="font-mono mt-5 w-[70%] mx-auto list-disc list-inside">
  <li class="mt-4">
    Yo soy estudiante  
    <p>
      わたしは がくせいです。<span class="text-red-500 font-bold">(watashi wa gakusei desu)</span>
    </p>
    <p class="text-sm text-gray-600 mt-1">
      En este caso el tema es "yo" (わたし), así que usamos la partícula は después del pronombre. Luego tenemos "soy estudiante" "がくせい" (gakusei) significa estudiante y como dijimos que "です" es ser y estar va al final.
    </p>
  </li>
  <li class="mt-4">
    Tú eres profesor
    <p> あなたは せんせいです。<span class="text-red-500 font-bold">(Anata wa sensei desu)</span></p>
  </li>
  <img src="/images/clase1/anata.webp" alt="explicación de la partícula は"  class="max-w-[90%] mt-5 rounded-md cursor-pointer">
</ul>
</section>
