---
import FAQ from "@/components/home/FAQ.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <main class="mt-[90px] px-8 md:ml-30">
    <section>
      <!-- Imagen de fondo -->
      <img 
        src="/images/indexFondo.png" 
        alt="Ilustración de fondo para el curso de japonés" 
        class="absolute top-0 right-0 md:right-30 object-cover opacity-30 invert h-[600px] md:h-[560px] z-10"
      />
      
      <h1 class="font-lilita text-gray-500 text-5xl flex flex-col mt-30 gap-6 z-20 ">
        <span>Curso <span class="text-theme-red">Japonés</span></span> 
        <div class="flex flex-col gap-6 md:block">
          <span>Autodidacta</span>
          <span>desde cero.</span>
        </div>
      </h1>
      <h2 class="mt-8 font-semibold text-gray-500">みんなの日本語</h2>
      <article class="mt-8">
        <!-- Asegurando que el enlace esté por encima de la imagen -->
        <a href="/lecciones" class="relative z-20">
          <button
            class="bg-transparent border-gray-500 border-2 p-2 rounded-sm font-bold text-gray-500 cursor-pointer shadow-md hover:bg-gray-500 hover:text-white transition-colors"
          >
            Comenzar Curso
          </button>
        </a>
        <section class="mt-50 md:mt-10 font-mono font-semibold text-gray-600 md:max-w-[560px]">
          <p>¡Aprendé japonés desde cero! de manera Autodidacta. En este curso verás como escribir hiragana, katakana y kanjis junto a la gramática.<br /> Vení y participa de 25 Lecciones junto a actividades del "Minna no Nihongo". </p>
        </section> 
      </article>
    </section>

    <FAQ />
  </main>
  <footer class="mt-20"></footer>
</Layout>
