---
import Layout from "@/layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

export  const getStaticPaths =  ( async() => {
    const clasesInfo = await getCollection('clasesInfo')

    console.log(clasesInfo)
    return clasesInfo.map(clase => ({
        params: { id: clase.slug },
        props: { clase },
    }))
}) satisfies GetStaticPaths;

const {clase} = Astro.props;
const {data, slug} = clase;

const {title} = data
export const prerender = true
---

<Layout title={title}>
    <h1>hola</h1>
</Layout>