---
import Layout from "@/layouts/Layout.astro";
import Aside from "@/components/Aside.astro";

export const prerender = true;
---

<Layout title={"Clase 0 - Curso de Japonés"}>
  <main class="flex min-h-screen w-screen">
    <Aside />
    <div class="mb-30">
      <section class="mt-30 max-w-[700px] w-full">
        <h1 class="text-center text-3xl font-bold text-gray-500">Clase - 0</h1>
        <p class="font-mono mt-10 w-[70%] mx-auto">
          En esta clase aprenderemos dos de los 3 sistemas de escritura del
          Japones Katakana y Hiragana. Más adelante iremos aprendiendo algunas
          palabras con sus respectivos Kanji(Otro Sistema de Escritura)
        </p>
      </section>
      <section class="mt-10 max-w-[700px] w-full">
        <h2 class="text-center font-semibold text-mono text-gray-500 text-2xl">
          Introducción a Hiragana
        </h2>
        <p class="font-mono mt-5 w-[70%] mx-auto">
          Se trata de un silabario, lo que significa que cada carácter
          representa una sílaba en lugar de un sonido individual como en el
          alfabeto latino.
        </p>
        <h3
          class="text-center font-semibold text-mono text-gray-500 text-xl my-5"
        >
          A I U E O
        </h3>
        <img
          src="/images/hiragana-1.webp"
          alt="Hiragana - Letras Japonesas"
          class="max-w-[70%] mx-auto rounded-md cursor-pointer"
        />
        <div class="w-[70%] mx-auto mt-5 font-mono">
          <p class="mb-5">
            Las Primeras letras son (En azul su pronunciación). A Diferencia del
            Español el orden de las silabas es distinto:
          </p>
          <p>
            あ -<span class="font-bold text-blue-500"> A</span>
          </p>
          <p>
            い -<span class="font-bold text-blue-500"> I</span>
          </p>
          <p>
            う -<span class="font-bold text-blue-500"> U</span>
          </p>
          <p>
            え -<span class="font-bold text-blue-500"> E</span>
          </p>
          <p>
            お -<span class="font-bold text-blue-500"> O</span>
          </p>
        </div>

        <h3
          class="text-center font-semibold text-mono text-gray-500 text-xl my-5"
        >
          KA KI KU KE KO
        </h3>
        <img
          src="/images/hiragana-2.webp"
          alt="Hiragana - Letras Japonesas"
          class="max-w-[70%] mx-auto rounded-md cursor-pointer"
        />
        <div class="w-[70%] mx-auto mt-5 font-mono">
          <p>
            か -<span class="font-bold text-blue-500"> KA</span>
          </p>
          <p>
            き -<span class="font-bold text-blue-500"> KI</span>
          </p>
          <p>
            く -<span class="font-bold text-blue-500"> KU</span>
          </p>
          <p>
            け -<span class="font-bold text-blue-500"> KE</span>
          </p>
          <p>
            こ -<span class="font-bold text-blue-500"> KO</span>
          </p>
        </div>

        <h3
          class="text-center font-semibold text-mono text-gray-500 text-xl my-5"
        >
          SA SHI SU SE SO
        </h3>

        <img
          src="/images/hiragana-3.webp"
          alt="Hiragana - Letras Japonesas"
          class="max-w-[70%] mx-auto rounded-md cursor-pointer"
        />
        <div class="w-[70%] mx-auto mt-5 font-mono">
          <p class="mb-5">
            Hasta ahora veniamos siguendo el patron de ir agregando únicamente A
            I U E O. Pero en este caso tenemos una exepciones hasta ahora(En
            rojo su pronunciación):
          </p>
          <p>
            さ -<span class="font-bold text-blue-500"> SA</span>
          </p>
          <p>
            し -<span class="font-bold text-red-400"> SHI</span>
          </p>
          <p>
            す -<span class="font-bold text-blue-500"> SU</span>
          </p>
          <p>
            せ -<span class="font-bold text-blue-500"> SE</span>
          </p>
          <p>
            そ -<span class="font-bold text-blue-500"> SO</span>
          </p>
        </div>
        <h3
          class="text-center font-semibold text-mono text-gray-500 text-xl my-5"
        >
          TA CHI TSU TE TO
        </h3>
        <img
          src="/images/hiragana-4.webp"
          alt="Hiragana - Letras Japonesas"
          class="max-w-[70%] mx-auto rounded-md cursor-pointer"
        />
        <div class="w-[70%] mx-auto mt-5 font-mono">
          <p class="mb-5">
            Acá tenemos dos exepciones (En rojo su pronunciación):
          </p>
          <p>
            た -<span class="font-bold text-blue-500"> TA</span>
          </p>
          <p>
            ち -<span class="font-bold text-red-400"> CHI</span>
          </p>
          <p>
            つ -<span class="font-bold text-red-400"> TSU</span>
          </p>
          <p>
            て -<span class="font-bold text-blue-500"> TE</span>
          </p>
          <p>
            と -<span class="font-bold text-blue-500"> TO</span>
          </p>
        </div>
        <h3
          class="text-center font-semibold text-mono text-gray-500 text-xl my-5"
        >
          NA NI NU NE NO
        </h3>
        <img
          src="/images/hiragana-5.webp"
          alt="Hiragana - Letras Japonesas"
          class="max-w-[70%] mx-auto rounded-md cursor-pointer"
        />
        <div class="w-[70%] mx-auto mt-5 font-mono">
          <p>
            な -<span class="font-bold text-blue-500"> NA</span>
          </p>
          <p>
            に -<span class="font-bold text-blue-500"> NI</span>
          </p>
          <p>
            ぬ -<span class="font-bold text-blue-500"> NU</span>
          </p>
          <p>
            ね -<span class="font-bold text-blue-500"> NE</span>
          </p>
          <p>
            の -<span class="font-bold text-blue-500"> NO</span>
          </p>
        </div>
        <h3
          class="text-center font-semibold text-mono text-gray-500 text-xl my-5"
        >
          HA HI FU HE HO
        </h3>
        <img
          src="/images/hiragana-6.webp"
          alt="Hiragana - Letras Japonesas"
          class="max-w-[70%] mx-auto rounded-md cursor-pointer"
        />
        <div class="w-[70%] mx-auto mt-5 font-mono">
          <p class="mb-5">
            Acá tenemos una exepción (En rojo su pronunciación):
          </p>
          <p>
            は -<span class="font-bold text-blue-500"> HA</span>
          </p>
          <p>
            ひ -<span class="font-bold text-blue-500"> HI</span>
          </p>
          <p>
            ふ -<span class="font-bold text-red-400"> FU</span>
          </p>
          <p>
            へ -<span class="font-bold text-blue-500"> HE</span>
          </p>
          <p>
            ほ -<span class="font-bold text-blue-500"> HO</span>
          </p>
        </div>
        <h3
          class="text-center font-semibold text-mono text-gray-500 text-xl my-5"
        >
          MA MI MU ME MO
        </h3>
        <img
          src="/images/hiragana-7.webp"
          alt="Hiragana - Letras Japonesas"
          class="max-w-[70%] mx-auto rounded-md cursor-pointer"
        />
        <div class="w-[70%] mx-auto mt-5 font-mono">
          <p>
            ま -<span class="font-bold text-blue-500"> MA</span>
          </p>
          <p>
            み -<span class="font-bold text-blue-500"> MI</span>
          </p>
          <p>
            む -<span class="font-bold text-blue-500"> MU</span>
          </p>
          <p>
            め -<span class="font-bold text-blue-500"> ME</span>
          </p>
          <p>
            も -<span class="font-bold text-blue-500"> MO</span>
          </p>
        </div>
        <h3
          class="text-center font-semibold text-mono text-gray-500 text-xl my-5"
        >
          YA YU YO
        </h3>
        <img
          src="/images/hiragana-8.webp"
          alt="Hiragana - Letras Japonesas"
          class="max-w-[70%] mx-auto rounded-md cursor-pointer"
        />
        <div class="w-[70%] mx-auto mt-5 font-mono">
          <p class="mb-5">
           En esta caso tenemos otras expeciones pero su pronunciación lo mas similar al español es en el caso de Ya(や) es IA y asi con las otras(En rojo su pronunciación):
          </p>
          <p>
            や -<span class="font-bold text-red-500"> IA</span>
          </p>
          <p>
            ゆ -<span class="font-bold text-red-500"> IU</span>
          </p>
          <p>
            よ -<span class="font-bold text-red-500"> IO</span>
          </p>
        </div>
        <h3
          class="text-center font-semibold text-mono text-gray-500 text-xl my-5"
        >
          RA RI RU RE RO
        </h3>
        <img
          src="/images/hiragana-9.webp"
          alt="Hiragana - Letras Japonesas"
          class="max-w-[70%] mx-auto rounded-md cursor-pointer"
        />
        <div class="w-[70%] mx-auto mt-5 font-mono">
          <p>
            ら -<span class="font-bold text-blue-500"> RA</span>
          </p>
          <p>
            り -<span class="font-bold text-blue-500"> RI</span>
          </p>
          <p>
            る -<span class="font-bold text-blue-500"> RU</span>
          </p>
          <p>
            れ -<span class="font-bold text-blue-500"> RE</span>
          </p>
          <p>
            ろ -<span class="font-bold text-blue-500"> RO</span>
          </p>
        </div>
        <h3
          class="text-center font-semibold text-mono text-gray-500 text-xl my-5"
        >
          WA N WO
        </h3>
        <img
          src="/images/hiragana-10.webp"
          alt="Hiragana - Letras Japonesas"
          class="max-w-[70%] mx-auto rounded-md cursor-pointer"
        />
        <div class="w-[70%] mx-auto mt-5 font-mono">
          <p>
            わ -<span class="font-bold text-blue-500"> WA</span>
          </p>
          <p>
            ん -<span class="font-bold text-blue-500"> N</span>
          </p>
          <p>
            を -<span class="font-bold text-blue-500"> WO</span>
          </p>
        </div>
      </section>
    </div>
  </main>
</Layout>
