---
import Layout from "@/layouts/Layout.astro";
import Aside from "@/components/Aside.astro";
import { getCollection } from "astro:content";
import { render } from "astro:content";

export const prerender = true;

---

<Layout title={"Clase 0 - Curso de Japonés"}>
  <main class="flex min-h-screen w-screen">
    <Aside />
    <div class="mb-30">
      <section class="mt-30 max-w-[700px] w-full">
        <h1 class="text-center text-3xl font-bold text-gray-500">Clase - 0</h1>
        <p class="font-mono mt-10 w-[70%] mx-auto">
          En esta clase aprenderemos dos de los 3 sistemas de escritura del
          Japones Katakana y Hiragana. Más adelante iremos aprendiendo algunas
          palabras con sus respectivos Kanji(Otro Sistema de Escritura)
        </p>
      </section>
      <section class="mt-10 max-w-[700px] w-full scroll-mt-23" id="introduccion-hiragana">
        <h2 class="text-center font-semibold text-mono text-gray-500 text-2xl">
          Introducción a Hiragana
        </h2>
        <p class="font-mono mt-5 w-[70%] mx-auto">
          Se trata de un silabario, lo que significa que cada carácter
          representa una sílaba en lugar de un sonido individual como en el
          alfabeto latino.
        </p>

        <h3
          class="text-center font-semibold text-mono text-gray-500 text-xl my-5"
        >
          KA KI KU KE KO
        </h3>
        <img
          src="/images/hiragana-2.webp"
          alt="Hiragana - Letras Japonesas"
          class="max-w-[70%] mx-auto rounded-md cursor-pointer"
        />
        <div class="w-[70%] mx-auto mt-5 font-mono">
          <p>
            か -<span class="font-bold text-blue-500"> KA</span>
          </p>
          <p>
            き -<span class="font-bold text-blue-500"> KI</span>
          </p>
          <p>
            く -<span class="font-bold text-blue-500"> KU</span>
          </p>
          <p>
            け -<span class="font-bold text-blue-500"> KE</span>
          </p>
          <p>
            こ -<span class="font-bold text-blue-500"> KO</span>
          </p>
        </div>

        <h3
          class="text-center font-semibold text-mono text-gray-500 text-xl my-5"
        >
          SA SHI SU SE SO
        </h3>

        <img
          src="/images/hiragana-3.webp"
          alt="Hiragana - Letras Japonesas"
          class="max-w-[70%] mx-auto rounded-md cursor-pointer"
        />
        <div class="w-[70%] mx-auto mt-5 font-mono">
          <p class="mb-5">
            Hasta ahora veniamos siguendo el patron de ir agregando únicamente A
            I U E O. Pero en este caso tenemos una exepciones hasta ahora(En
            rojo su pronunciación):
          </p>
          <p>
            さ -<span class="font-bold text-blue-500"> SA</span>
          </p>
          <p>
            し -<span class="font-bold text-red-400"> SHI</span>
          </p>
          <p>
            す -<span class="font-bold text-blue-500"> SU</span>
          </p>
          <p>
            せ -<span class="font-bold text-blue-500"> SE</span>
          </p>
          <p>
            そ -<span class="font-bold text-blue-500"> SO</span>
          </p>
        </div>
        <h3
          class="text-center font-semibold text-mono text-gray-500 text-xl my-5"
        >
          TA CHI TSU TE TO
        </h3>
        <img
          src="/images/hiragana-4.webp"
          alt="Hiragana - Letras Japonesas"
          class="max-w-[70%] mx-auto rounded-md cursor-pointer"
        />
        <div class="w-[70%] mx-auto mt-5 font-mono">
          <p class="mb-5">
            Acá tenemos dos exepciones (En rojo su pronunciación):
          </p>
          <p>
            た -<span class="font-bold text-blue-500"> TA</span>
          </p>
          <p>
            ち -<span class="font-bold text-red-400"> CHI</span>
          </p>
          <p>
            つ -<span class="font-bold text-red-400"> TSU</span>
          </p>
          <p>
            て -<span class="font-bold text-blue-500"> TE</span>
          </p>
          <p>
            と -<span class="font-bold text-blue-500"> TO</span>
          </p>
        </div>
        <h3
          class="text-center font-semibold text-mono text-gray-500 text-xl my-5"
        >
          NA NI NU NE NO
        </h3>
        <img
          src="/images/hiragana-5.webp"
          alt="Hiragana - Letras Japonesas"
          class="max-w-[70%] mx-auto rounded-md cursor-pointer"
        />
        <div class="w-[70%] mx-auto mt-5 font-mono">
          <p>
            な -<span class="font-bold text-blue-500"> NA</span>
          </p>
          <p>
            に -<span class="font-bold text-blue-500"> NI</span>
          </p>
          <p>
            ぬ -<span class="font-bold text-blue-500"> NU</span>
          </p>
          <p>
            ね -<span class="font-bold text-blue-500"> NE</span>
          </p>
          <p>
            の -<span class="font-bold text-blue-500"> NO</span>
          </p>
        </div>
        <h3
          class="text-center font-semibold text-mono text-gray-500 text-xl my-5"
        >
          HA HI FU HE HO
        </h3>
        <img
          src="/images/hiragana-6.webp"
          alt="Hiragana - Letras Japonesas"
          class="max-w-[70%] mx-auto rounded-md cursor-pointer"
        />
        <div class="w-[70%] mx-auto mt-5 font-mono">
          <p class="mb-5">
            Acá tenemos una exepción (En rojo su pronunciación):
          </p>
          <p>
            は -<span class="font-bold text-blue-500"> HA</span>
          </p>
          <p>
            ひ -<span class="font-bold text-blue-500"> HI</span>
          </p>
          <p>
            ふ -<span class="font-bold text-red-400"> FU</span>
          </p>
          <p>
            へ -<span class="font-bold text-blue-500"> HE</span>
          </p>
          <p>
            ほ -<span class="font-bold text-blue-500"> HO</span>
          </p>
        </div>
        <h3
          class="text-center font-semibold text-mono text-gray-500 text-xl my-5"
        >
          MA MI MU ME MO
        </h3>
        <img
          src="/images/hiragana-7.webp"
          alt="Hiragana - Letras Japonesas"
          class="max-w-[70%] mx-auto rounded-md cursor-pointer"
        />
        <div class="w-[70%] mx-auto mt-5 font-mono">
          <p>
            ま -<span class="font-bold text-blue-500"> MA</span>
          </p>
          <p>
            み -<span class="font-bold text-blue-500"> MI</span>
          </p>
          <p>
            む -<span class="font-bold text-blue-500"> MU</span>
          </p>
          <p>
            め -<span class="font-bold text-blue-500"> ME</span>
          </p>
          <p>
            も -<span class="font-bold text-blue-500"> MO</span>
          </p>
        </div>
        <h3
          class="text-center font-semibold text-mono text-gray-500 text-xl my-5"
        >
          YA YU YO
        </h3>
        <img
          src="/images/hiragana-8.webp"
          alt="Hiragana - Letras Japonesas"
          class="max-w-[70%] mx-auto rounded-md cursor-pointer"
        />
        <div class="w-[70%] mx-auto mt-5 font-mono">
          <p class="mb-5">
            En esta caso tenemos otras expeciones pero su pronunciación lo mas
            similar al español es en el caso de Ya(や) es IA y asi con las
            otras(En rojo su pronunciación):
          </p>
          <p>
            や -<span class="font-bold text-red-500"> IA</span>
          </p>
          <p>
            ゆ -<span class="font-bold text-red-500"> IU</span>
          </p>
          <p>
            よ -<span class="font-bold text-red-500"> IO</span>
          </p>
        </div>
        <h3
          class="text-center font-semibold text-mono text-gray-500 text-xl my-5"
        >
          RA RI RU RE RO
        </h3>
        <img
          src="/images/hiragana-9.webp"
          alt="Hiragana - Letras Japonesas"
          class="max-w-[70%] mx-auto rounded-md cursor-pointer"
        />
        <div class="w-[70%] mx-auto mt-5 font-mono">
          <p>
            ら -<span class="font-bold text-blue-500"> RA</span>
          </p>
          <p>
            り -<span class="font-bold text-blue-500"> RI</span>
          </p>
          <p>
            る -<span class="font-bold text-blue-500"> RU</span>
          </p>
          <p>
            れ -<span class="font-bold text-blue-500"> RE</span>
          </p>
          <p>
            ろ -<span class="font-bold text-blue-500"> RO</span>
          </p>
        </div>
        <h3
          class="text-center font-semibold text-mono text-gray-500 text-xl my-5"
        >
          WA N WO
        </h3>
        <img
          src="/images/hiragana-10.webp"
          alt="Hiragana - Letras Japonesas"
          class="max-w-[70%] mx-auto rounded-md cursor-pointer"
        />
        <div class="w-[70%] mx-auto mt-5 font-mono">
          <p>
            わ -<span class="font-bold text-blue-500"> WA</span>
          </p>
          <p>
            ん -<span class="font-bold text-blue-500"> N</span>
          </p>
          <p>
            を -<span class="font-bold text-blue-500"> WO</span>
          </p>
        </div>
        <h3
          class="text-center font-semibold text-mono text-gray-500 text-2xl my-5"
        >
          Tenten <span class="font-bold text-black">゛</span> y Maru <span
            class="font-bold text-black">°</span
          >
        </h3>
        <p class="font-mono w-[70%] mx-auto">
          Ahora tenemos tenten ゛ y maru ° se usan en hiragana como en katakana
          para cambiar el sonido de pronunciación
        </p>
        <h3
          class="text-center font-semibold text-mono text-gray-500 text-xl my-5"
        >
          GA GI GU GE GO
        </h3>
        <img
          src="/images/hiragana-11.webp"
          alt="Hiragana - Letras Japonesas"
          class="max-w-[70%] mx-auto rounded-md cursor-pointer"
        />
        <div class="w-[70%] mx-auto mt-5 font-mono">
          <p class="mb-5">
            Acá tenemos la utilización de ゛para cambiar el sonido de la fila de
            la <span class="font-bold text-green-400">K</span> por la <span
              class="font-bold text-green-500">G</span
            >
          </p>
          <p>
            が -<span class="font-bold text-blue-500"> GA</span>
          </p>
          <p>
            ぎ -<span class="font-bold text-blue-500"> GI</span>
          </p>
          <p>
            ぐ -<span class="font-bold text-blue-500"> GU</span>
          </p>
          <p>
            げ -<span class="font-bold text-blue-500"> GE</span>
          </p>
          <p>
            ご -<span class="font-bold text-blue-500"> GO</span>
          </p>
        </div>
        <h3
          class="text-center font-semibold text-mono text-gray-500 text-xl my-5"
        >
          ZA JI ZU ZE ZO
        </h3>
        <img
          src="/images/hiragana-12.webp"
          alt="Hiragana - Letras Japonesas"
          class="max-w-[70%] mx-auto rounded-md cursor-pointer"
        />
        <div class="w-[70%] mx-auto mt-5 font-mono">
          <p class="mb-5">
            Acá tenemos la utilización de ゛para cambiar el sonido de la fila de
            la <span class="font-bold text-green-400">S</span> por la <span
              class="font-bold text-green-500">Z</span
            >
            Pero tenemos una exepcion(En rojo su pronunciación)
          </p>
          <p>
            ざ -<span class="font-bold text-blue-500"> ZA</span>
          </p>
          <p>
            じ -<span class="font-bold text-red-400"> JI</span>
          </p>
          <p>
            ず -<span class="font-bold text-blue-500"> ZU</span>
          </p>
          <p>
            ぜ -<span class="font-bold text-blue-500"> ZE</span>
          </p>
          <p>
            ぞ -<span class="font-bold text-blue-500"> ZO</span>
          </p>
        </div>
        <h3
          class="text-center font-semibold text-mono text-gray-500 text-xl my-5"
        >
          BA BI FU BE BO
        </h3>
        <img
          src="/images/hiragana-13.webp"
          alt="Hiragana - Letras Japonesas"
          class="max-w-[70%] mx-auto rounded-md cursor-pointer"
        />
        <div class="w-[70%] mx-auto mt-5 font-mono">
          <p class="mb-5">
            Acá tenemos la utilización de ゛para cambiar el sonido de la fila de
            la <span class="font-bold text-green-400">H</span> por la <span
              class="font-bold text-green-500">B</span
            >
          </p>
          <p>
            ば -<span class="font-bold text-blue-500"> BA</span>
          </p>
          <p>
            び -<span class="font-bold text-blue-500"> BI</span>
          </p>
          <p>
            ぶ -<span class="font-bold text-blue-500"> BU</span>
          </p>
          <p>
            べ -<span class="font-bold text-blue-500"> BE</span>
          </p>
          <p>
            ぼ -<span class="font-bold text-blue-500"> BO</span>
          </p>
        </div>
        <h3
          class="text-center font-semibold text-mono text-gray-500 text-xl my-5"
        >
          PA PI PU PE PO
        </h3>
        <img
          src="/images/hiragana-14.webp"
          alt="Hiragana - Letras Japonesas"
          class="max-w-[70%] mx-auto rounded-md cursor-pointer"
        />
        <div class="w-[70%] mx-auto mt-5 font-mono">
          <p class="mb-5">
            Acá tenemos la utilización de ° para cambiar el sonido de la fila de
            la <span class="font-bold text-green-400">H</span> por la <span
              class="font-bold text-green-500">P</span
            >
          </p>
          <p>
            ば -<span class="font-bold text-blue-500"> PA</span>
          </p>
          <p>
            び -<span class="font-bold text-blue-500"> PI</span>
          </p>
          <p>
            ぶ -<span class="font-bold text-blue-500"> PU</span>
          </p>
          <p>
            べ -<span class="font-bold text-blue-500"> PE</span>
          </p>
          <p>
            ぼ -<span class="font-bold text-blue-500"> PO</span>
          </p>
        </div>
      </section>
      <section class="mt-10 max-w-[700px] w-full scroll-mt-23" id="introduccion-katakana">
        <h2 class="text-center font-semibold text-mono text-gray-500 text-2xl">
          Introducción a Katakana
        </h2>
      </section>
    </div>
  </main>
</Layout>
