---
import { Icon } from "astro-icon/components";
---

<article class="mt-10 mx-auto md:max-w-[700px] md:mt-20 bg-amber-100 p-4 rounded-md bg-gradient-to-r shadow-xl">
    <section class="flex flex-col gap-2 mt-4 font-mono">
      <div class="flex items-center gap-2">
        <Icon name="help-circle" class="text-3xl text-gray-500 cursor-pointer hover:text-gray-400 transition-colors" />
        <h2 class="font-semibold text-gray-600">Preguntas Frecuentes</h2>
      </div>
      <div class="flex flex-col gap-2">
        <p class="text-gray-500 font-bold"><span class="text-gray-700">¿Se necesita conocimientos previos?</span> No se necesita ningun tipo de conocimiento para afrontar este gran desafio como es aprender japones.</p>
        <p class="text-gray-500 font-bold"><span class="text-gray-700">¿El curso tiene algún costo?</span> El curso es completamente grátis.</p>
        <p class="text-gray-500 font-bold"><span class="text-gray-700">¿Recomendación?</span> Si no tenes conocimiento alguno de japones, te recomendamos no saltearte la clase 0 que es la introductoria</p>
      </div>
    </section>
  </article>
