---
import TextIntro from "@/components/styles/TextIntro.astro";
import Title from "@/components/styles/Title.astro";
import { Icon } from "astro-icon/components";
---

<section
  id="tarea-hiragana"
  class="mt-10 max-w-[700px] w-full scroll-mt-[130px] md:scroll-mt-23"
>
  <Title className="mt-8">
    Tarea Hiragana
  </Title>

  <TextIntro>
    Es importante que hagamos la secciones de la tarea para reforzar todo lo que
    vayamos viendo a lo largo del curso.
  </TextIntro>
  <ol class="font-mono mt-5 w-[70%] mx-auto">
    <li>
      <span class="font-bold">1 - </span>Repetir en papel aunque sea 10 veces
      cada letra del hiragana.
    </li>
    <li class="mt-5">
      <span class="font-bold">2 - </span>En una hoja de papel traducir a
      hiragana las siguientes canciones. Por ejemplo la primera parde de la
      canción "sakura sakura aitai yo iya da kimi ni ima sugu aitai yo" y en
      hiragana sería さくら さくら あいたいよ いや だ きみ に いま すぐ
      あいたいよ. La parte del ejercicio no es la traducción si no practicar
      hiragana. (Elegí las canciones que más me ayudaron en su momento a practicar, son faciles de pronunciar y tienen un ritmo agradable)
    </li>
    <div class="flex items-center gap-2 mt-2">
      <Icon name="share" class="text-xl" />
      <a
        class="text-blue-600 hover:text-blue-400 transition-colors"
        href="https://www.youtube.com/watch?v=855pQECcbxI&ab_channel=Frozenphqz"
        target="_blank">Sakura Anata ni Deaete Yokatta (Apretar)</a
      >
    </div>
    <div class="flex items-center gap-2 mt-2">
      <Icon name="share" class="text-xl" />
      <a
        class="text-blue-600 hover:text-blue-400 transition-colors"
        href="https://www.youtube.com/watch?v=SJywJjwqIK8&ab_channel=Cytharia"
        target="_blank">Kimi ga Kureta Mono (Apretar)</a
      >
    </div>
    <div class="flex items-center gap-2 mt-2">
      <Icon name="share" class="text-xl" />
      <a
        class="text-blue-600 hover:text-blue-400 transition-colors"
        href="https://www.youtube.com/watch?v=JdSpuTi9d8A&ab_channel=Cytharia"
        target="_blank">Shigatsu wa Kimi no uso Opening (Apretar)</a
      >
    </div>

    <li class="mt-5">
      <span class="font-bold">3 - </span>Una vez ya escrito en hiragana las
      canciones, intentar cantar la canción leyendo su propia hoja escrita. Esto
      reforzara a poder entrenar la parte escrita como oral. Es importante
      equivocarse, ver sus propios errores y aprender de ellos. No se preocupen
      si no les sale a la primera, es normal. La idea es que lo hagan con calma
      y sin apuro.
    </li>
  </ol>
</section>
