---
import TextIntro from "@/components/styles/TextIntro.astro";
---

<section
  id="vocabulario-hiragana"
  class="mt-10 max-w-[700px] w-full scroll-mt-[130px] md:scroll-mt-23"
>
  <h2 class="text-center font-semibold text-mono text-gray-500 text-2xl">
    Vocabulario Hiragana
  </h2>

  <TextIntro>
    En Rojo como se pronuncia en español. Recorda que podes apretar en cada una
    para escuchar. Acá tenemos dos casos en "こんにちは" y "こんばんは" que
    terminan en "は" pero se pronuncian como "wa" y no como "ha". Esto veremos
    mas adelante la razón de esto.
  </TextIntro>
  <div class="w-[70%] mx-auto mt-5 font-mono flex flex-col gap-2">
    <p
      class="border text-center p-2 cursor-pointer flex flex-col md:flex-row justify-center items-center gap-2"
      data-audio="/audio/clase0/0-1.mp3"
    >
      こんにちは <span class="hidden md:block">-</span>
      <span class="font-bold text-red-500 uppercase">(konnichiwa)</span>
      <span>Buenas Tardes</span>
    </p>

    <p
      class="border text-center p-2 cursor-pointer flex flex-col md:flex-row justify-center items-center gap-2"
      data-audio="/audio/clase0/0-2.mp3"
    >
      おはよう <span class="hidden md:block">-</span>
      <span class="font-bold text-red-500 uppercase">(ohaiō)</span>
      <span>Buenos días</span>
    </p>

    <p
      class="border text-center p-2 cursor-pointer flex flex-col md:flex-row justify-center items-center gap-2"
      data-audio="/audio/clase0/0-3.mp3"
    >
      こんばんは <span class="hidden md:block">-</span>
      <span class="font-bold text-red-500 uppercase">(konbanwa)</span>
      <span>Buenas Noches</span>
    </p>

    <p
      class="border text-center p-2 cursor-pointer flex flex-col md:flex-row justify-center items-center gap-2"
      data-audio="/audio/clase0/0-4.mp3"
    >
      さようなら <span class="hidden md:block">-</span>
      <span class="font-bold text-red-500 uppercase">(saionara)</span>
      <span>Adiós</span>
    </p>

    <p
      class="border text-center p-2 cursor-pointer flex flex-col md:flex-row justify-center items-center gap-2"
      data-audio="/audio/clase0/0-5.mp3"
    >
      またね <span class="hidden md:block">-</span>
      <span class="font-bold text-red-500 uppercase">(matane)</span>
      <span>Hasta Luego</span>
    </p>
    <p
      class="border text-center p-2 cursor-pointer flex flex-col md:flex-row justify-center items-center gap-2"
      data-audio="/audio/clase0/0-6.mp3"
    >
      ごめんなさい <span class="hidden md:block">-</span>
      <span class="font-bold text-red-500 uppercase">(gomennasai)</span>
      <span>Lo siento</span>
    </p>
  </div>
</section>

<script>
  const audioElements = document.querySelectorAll("[data-audio]");

  audioElements.forEach((element) => {
    element.addEventListener("click", () => {
      const audioSrc = element.getAttribute("data-audio");
      const audio = new Audio(audioSrc!);
      audio.play();
    });
  });
</script>
