---
import '../styles/global.css'


const {title = "Japones Para Todos"} = Astro.props
import Header from '../components/Header'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-100">
		<Header client:load />
		<slot />
	</body>
</html>



<style is:global>
	html {
	  scroll-behavior: smooth;
	}
  
	body {
	  min-height: 100vh;
	  overscroll-behavior: none;
	}
  </style>


<script>
	import { gsap } from 'gsap'
	import { ScrollTrigger } from 'gsap/ScrollTrigger'
  
	gsap.registerPlugin(ScrollTrigger)
  
	// Animate widgets on scroll
	// Animate white background widgets
	gsap.utils.toArray('.bg-white\\/80').forEach((widget: any) => {
	  gsap.from(widget, {
		y: 50,
		opacity: 0,
		duration: 1,
		scrollTrigger: {
		  trigger: widget,
		  start: 'top bottom-=100',
		  toggleActions: 'play none none reverse',
		},
	  })
	})
  
	// Animate achievements widget
	gsap.utils.toArray('.bg-gradient-to-r').forEach((widget: any) => {
	  gsap.from(widget, {
		y: 50,
		opacity: 0,
		duration: 1,
		scrollTrigger: {
		  trigger: widget,
		  start: 'top bottom-=100',
		  toggleActions: 'play none none reverse',
		},
	  })
	})
  </script>